
<ul class="nav justify-content-center" style="background-color:goldenrod;">
    <li class="nav-item"> 
  <a style="cursor:pointer" class="nav-link mb-0 text-info" (click)="naviagtePage('landing')">Kamakshi Amma Devalayam</a></li>
  <li class="nav-item">
    <a style="cursor:pointer" class="nav-link text-info" (click)="naviagtePage('home')">Home</a>
  </li>
  <li class="nav-item">
    <a style="cursor:pointer" class="nav-link text-info" (click)="naviagtePage('events')">Events</a>
  </li>
  <li class="nav-item">
    <a style="cursor:pointer" class="nav-link text-info" href="#">About Us</a>
  </li>

</ul>